<div class="context">

    <div class="content info">


        <div class="info-order">

            <h1>{name}, спасибо за Ваш Заказ!</h1>

             Номер Вашено заказа {id_order} <br>
             В ближайшее время наш сотрудник свяжется с Вами!

        </div>

    </div>

</div>