
<div id="mail-block" class="mail-block">


    <div class="form">

        <div class="close-form" onclick="showMailBlock()">x</div>

        <form id="form" onsubmit="mailBlock();ajaxVS({url:'http://onbox.dev/', res:false, idForm:'form'}); return false;">
            <input type="hidden" name="proc" value="process">
            <input type="hidden" name="action" value="add_person">
            <input type="text" name="email" placeholder="Ваш Email" required>
            <input type="text" name="name" placeholder="Ваше Имя" required>
            <input type="submit" value="ok">
        </form>

    </div>

</div>

<div class="info-banner">

    <a href="javascript:void(0)" class="close-info-banner" onclick="hide.modal_dialog('info-banner')">x</a>

    Дорогие друзья! Мы заранее приносим извинения.<br>
    Сайт находится еще в стадии доработки.<br>
    В случае каких то проблем напишите нам  в группе в Вконтакте.<br>
    Спасибо Вам за понимания! Приятных покупок!

</div>


<header>


    <div class="top">

    </div>

    <div class="menu">

        <div class="content menu-content">

            <div class="logo">
                <span class="ffa64d">n</span>Box<span class="ffa64d">.</span>by
            </div>



            <div class="nav">

                <div class="search">
                    <form action="" onsubmit="alert('Приносим, свои извинения! Данный раздел находится еще в разработке. Напишите нам пожалуйста в ВК, в нижнем правом углу. Мы постараемся Вам помочь')">
                        <input type="text">
                        <input type="submit" value="">
                    </form>
                </div>

                <div class="cart">
                    <a href="{scr_uri}/cart"></a>
                    {count_cart}
                </div>


                <ul>
                    <li class="vk"><a href="https://vk.com/toyboxby" target="_blank"></a></li>
                    <!--<li><a href="#"></a></li>-->
                </ul>
            </div>


        </div>

    </div>

    <div class="center">
        <div class="content">
            <div class="description">
                <h1>
                    Добро пожаловать
                    в магазин onBox.by
                </h1>
                <p>
                    {content}
                </p>
                <a href="javascript:void(0)" onclick="ajaxVS({p:'proc=process', callback:'showMailBlock'})">Подписаться</a>
            </div>

            <div class="img-banner">
                <img src="img/img-banner.png" alt="banner img">
            </div>

        </div>
    </div>

    <div class="bottom">

        <menu class="content">

            <li>
                <a href="javascript:void(0)" onmousemove="toys.showBlock()" onmouseout="toys.hideBlock()" class="btn-toys">Игрушки</a><i class="arrow-menu"></i>
            </li>
            <li><a href="{scr_uri}/" class="active">Главаная</a></li>
            <li><a href="{scr_uri}/about">О Нас</a></li>
            <li><a href="{scr_uri}/contacts">Контакты</a></li>
            <li><a href="{scr_uri}/payment">Оплата</a></li>
            <li><a href="{scr_uri}/shipping">Доставка</a></li>
            <li><a href="{scr_uri}/guarantee">Гарантия</a></li>
        </menu>

    </div>

</header>



