<header>
     <div class="top"></div>

    <div class="menu">

        <div class="content menu-content wrapper-menu-top">

            <div class="nav nav-head">

                <a href="{scr_uri}">
                    <div class="logo">
                        <span class="ffa64d">n</span>Box<span class="ffa64d">.</span>by
                    </div>
                </a>

                <div class="atribut-header">
                    <div class="search">
                        <form action="">
                            <input type="text">
                            <input type="submit" value="">
                        </form>
                    </div>

                    {count_cart}

                    <ul>
                        <li class="vk"><a href="https://vk.com/toyboxby" target="_blank"></a></li>
                        <!--<li><a href="#"></a></li>-->
                        <!--<li><a href="#"></a></li>-->
                    </ul>
                </div>

            </div>

        </div>

            <div class="header-block">

                <div class="content">

                    <menu class="content-menu">
                        <li>
                            <a href="javascript:void(0)" onmousemove="toys.showBlock()" onmouseout="toys.hideBlock()" class="btn-toys">Игрушки</a><i class="arrow-menu"></i>
                        </li>
                        <li><a href="{scr_uri}/" class="active">Главаная</a></li>
                        <li><a href="{scr_uri}/about">О Нас</a></li>
                        <li><a href="{scr_uri}/contacts">Контакты</a></li>
                        <li><a href="{scr_uri}/payment">Оплата</a></li>
                        <li><a href="{scr_uri}/shipping">Доставка</a></li>
                        <li><a href="{scr_uri}/guarantee">Гарантия</a></li>
                    </menu>

                </div>

            </div>



    </div>
</header>
