<div class="cart-info">

    <h1>Товар добавлен в корзину</h1>

    <ul>
        <li><a href="{url}">Перейти в корзину</a></li>
        <li><a href="javascript:void(0)" onclick="hide.modal_dialog('wrapper-message-cart');location.reload();">Продолжать покупки</a></li>
    </ul>

</div>