<div class="content">

    <ul class="nav-user">
        <li>
            <a href="{url_datms}">Главная</a>
        </li>
        <li>
            <a href="{url_product}">Товар</a>
        </li>
        <li>
            <a href="{url_category}">Категория</a>
        </li>
        <li>
            <a href="{url_brand}">Брэнды(Под категории)</a>
        </li>
        <!--<li>-->
        <!--<a href="{url_static}">Статистика</a>-->
        <!--</li>-->
        <li>
        <a href="{url_content}">Контент</a>
        </li>
    </ul>

    {html}

</div>
