<h1>datm</h1>

<ul>
    <li><a href="http://onbox.dev/datm/">Главная</a></li>
    <li><a href="http://onbox.dev/datm/product/">Product</a></li>
    <li><a href="http://onbox.dev/datm/category">Категория</a></li>
    <li><a href="http://onbox.dev/datm/brand/">Брэнд</a></li>
    <li><a href="http://onbox.dev/datm/static/">Статистика</a></li>
    <li><a href="http://onbox.dev/datm/content/">Контент</a></li>
</ul>

{html}