<div class="product">

    <div class="items-product content-product">

        <div class="banner">
            <img src="img/joker.jpg" alt="123">
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
        <div class="item-product">

            <div class="img-product">
                <img src="file/test/test.jpg" alt="test">
            </div>

            <div class="description-product">
                <h2>Name Product</h2>

                <div class="price sale">
                    55 <span class="currency">бел.руб.</span>

                    <div class="price-sale">
                        <i></i>
                        23 <span class="currency">бел.руб.</span>
                    </div>

                </div>


                <div class="article">
                    арт. N: 555555
                </div>

                <div class="info-status-product">
                    <div class="shipping" title="Бесплатная доставка"></div>
                    <div class="one-product" title="Бесплатная доставка"></div>
                    <div class="new-product" title="Бесплатная доставка"></div>
                    <div class="box-product" title="Бесплатная доставка"></div>
                    <div class="gift-product" title="Бесплатная доставка"></div>
                </div>
            </div>
        </div>
    </div>
</div>
