<div class="block-toys">

    <div class="toys content">

        <div class="wrapper-toys" onmouseover="toys.showBlock()" onmouseout="toys.hideBlock()">

            <ul class="name-toys">
                {toys_block}
            </ul>

            <ul class="category-toys" id="category-toys">
               {brand_block}
            </ul>

        </div>

    </div>

</div>