<form id="form" onsubmit="ajaxVS({url:'http://onbox.dev/datm/category/', res:false, idForm:'form'});return false">
    <input type="hidden" name="proc" value="process">
    <input type="hidden" name="action" value="add_category">
    <input type="text" name="name_category">
    <textarea name="description_category"></textarea>
    <input type="radio" name="active" value="1" checked>
    <input type="radio" name="active" value="0">
    <input type="submit" value="записать">
</form>
