<form id="form" onsubmit="ajaxVS({url:'http://onbox.dev/datm/product', res:false, idForm:'form'});return false">
    <input type="hidden" name="proc" value="process">
    <input type="hidden" name="action" value="edit_product">
    <input type="hidden" name="id_product" value="{id_product}">
    <input type="text" name="name_product" value="{name_product}">
    <input type="text" name="article" value="{article}">
    <label for="id_category">id_category</label>
    <select id="id_category" name="id_category">
        <option value="{id_category}">{name_category}</option>
        {option_category}
    </select>

    <label for="id_brand">id_brand</label>
    <select id="id_brand" name="id_brand">
        <option value="{id_brand}">{name_brand}</option>
        {option_brand}
    </select>

    <textarea name="description_product">{description_product}</textarea>
    <input type="radio" name="active" value="1" checked>
    <input type="radio" name="active" value="0">
    <input type="submit" value="записать">
</form>
<hr>

{main_pic} {min_pic_1} {min_pic_2} {min_pic_3} {min_pic_4}

<form id="form_file" onsubmit="ajaxVS({url:'http://onbox.dev/datm/product', res:false, idForm:'form_file'});return false">
    <input type="hidden" name="proc" value="process">
    <input type="hidden" name="action" value="edit_file_product">
    <input type="hidden" name="id_product" value="{id_product}">
    <input type="hidden" name="id_brand" value="{id_brand}">
    <input type="file" name="main_pic">
    <input type="file" name="min_pic_1">
    <input type="file" name="min_pic_2">
    <input type="file" name="min_pic_3">
    <input type="file" name="min_pic_4">
    <input type="submit" value="записать">
</form>
<hr>
<form id="form_price" onsubmit="ajaxVS({url:'http://onbox.dev/datm/product', res:false, idForm:'form_price'});return false">
    <input type="hidden" name="proc" value="process">
    <input type="hidden" name="action" value="edit_price_product">
    <input type="hidden" name="id_product" value="{id_product}">
    <input type="text" name="price_product" value="{price_product}">
    <input type="text" name="sale_product" value="{sale_product}">
    <input type="submit" value="записать">
</form>
