<div style="cursor:pointer" onclick="ajaxVS({url:'http://onbox.dev/datm/add_form_brand/', p:'proc=process&action=add_form_brand ', res:true})">plus</div>

<table class="table table-striped">

    <tr>
        <th>ID</th>
        <th>ID_CATEGORY</th>
        <th>Имя</th>
        <th>Описания</th>
        <th>Статус</th>
        <th>Картинка</th>
        <th></th>
    </tr>


    {items}


</table>
