<table class="table table-striped">

    <tr>
        <th>Номер заказа:</th>
        <th>Имя:</th>
        <th>Товар</th>
        <th>Номер телефона:</th>
        <th>Адрес доставки:</th>
        <th>Статус обработки:</th>
        <th>Время заказ:</th>
        <th>Сумма заказа:</th>
        <th></th>
    </tr>

    {items}

</table>


