<div class="item-product">
qwdqwdqwd
    <div class="img-product">
        <img src="/file/product/{id_brand}/{id_product}/{main_pic}" alt="{id_btand}/{id_product}">
    </div>

    <div class="description-product">
        <h2>{name_product}</h2>

        <!--<div class="price sale">-->
            <!--55 <span class="currency">бел.руб.</span>-->

            <!--<div class="price-sale">-->
                <!--<i></i>-->
                <!--{price_product} <span class="currency">бел.руб.</span>-->
            <!--</div>-->

        <!--</div>-->

        <div class="price">
            55 <span class="currency">бел.руб.</span>

        </div>


        <div class="article">
            арт. N: {article}
        </div>

        <div class="info-status-product">
            <div class="shipping" title="Бесплатная доставка"></div>
            <div class="one-product" title="Бесплатная доставка"></div>
            <div class="new-product" title="Бесплатная доставка"></div>
            <div class="box-product" title="Бесплатная доставка"></div>
            <div class="gift-product" title="Бесплатная доставка"></div>
        </div>
    </div>
</div>




<!--[id_product] => 13-->
<!--[id_category] => 34-->
<!--[id_brand] => 8-->
<!--[name_product] => ergerg-->
<!--[description_product] => ergerg-->
<!--[status] => 0-->
<!--[article] => ergre-->
<!--[price_product] => 0-->
<!--[sale_product] => 0-->
<!--[main_pic] => 64fedffb.jpg-->
<!--[min_pic_1] =>-->
<!--[min_pic_2] =>-->
<!--[min_pic_3] =>-->
<!--[min_pic_4] =>-->