<li>
    {id_product} {name_product} {article}
    <div style="cursor:pointer" onclick="ajaxVS({url:'http://onbox.dev/datm/product/', p:'action=unset_product&proc=process&id={id_product}',res:false})">Удалить</div>
    <div style="cursor:pointer" onclick="ajaxVS({url:'http://onbox.dev/datm/edit_form_product/', p:'proc=process&id={id_product}', res:true})">Изменить</div>
</li>